* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #606f49;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}

.logo {
  color: #e9f5db;
  font-weight: bold;
  font-size: larger;
}
.navbar a {
  text-decoration: none;
  color: #e9f5db;
  margin: 0 0.5rem;
  position: relative;
}
.navbar a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1rem;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #dbe7c9;
  z-index: 2;
  transition: 0.5s;
}
.navbar a:hover::before {
  transform: scaleX(1);
}
section {
  padding: 1rem;
}
section#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcebca;
  color: #254d32;
  position: relative;
  margin: 0;
  z-index: 1;
  overflow: hidden;
}
section#home::after {
  position: absolute;
  content: "";
  inset: 0;
  left: 30%;
  background-color: #849669;
  z-index: -1;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 20% 100%, 55% 55%);
}
section#home p {
  max-width: 600px;
  color: #3a7d44;
}
section#home .con button {
  text-decoration: none;
  border-radius: 20px;
  border: 1ps solid #254d32;
  padding: 10px;
  position: relative;
  transition: 0.5s;
  background-color: #b5c99a;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: bold;
  color: #254d32;
  border: none;
}
section#home .con button:hover {
  background-color: #849669;
  font-weight: bold;
  box-shadow: 4px 4px 8px #aeaeae;
}

section#home img {
  height: auto;
  margin-top: 120px;
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(5px 5px 20px #b5c99a);
}
section#about,
section#contact {
  height: 95vh;
  background-color: #849669;
  z-index: 1;
  margin: 0;
  position: relative;
  scroll-margin-top: 50px;
}
section#about .title,
section#hobbies .title,
section#contact .title {
  font-size: 2rem;
  color: #254d32;
  text-align: center;
}
section#about::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #dbe7c9;
  z-index: -1;
  clip-path: polygon(44% 0, 13% 55%, 30% 100%, 100% 100%, 100% 0);
}
section#about p,
section#hobbies p {
  max-width: 800px;
  color: #606f49;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  font-size: 1.2rem;
  backdrop-filter: blur(10px);
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 5px;
  padding: 5px;
}
section#hobbies {
  height: 95vh;
  text-align: center;
  background-color: #dbe7c9;
  z-index: 1;
  margin: 0;
  position: relative;
  scroll-margin-top: 50px;
}
.gallery {
  display: flex;
  background-color: var(--background);
  gap: 16px;
  scale: 1.3;
  margin-left: 240px;
  margin-right: 240px;
}
.gallery .card {
  position: relative;
  left: 0;
  margin-top: 10vh;
  height: 140px;
  width: fit-content;
  background-color: var(--background);
  border-radius: 8px;
  transition: 1000ms all;
  transform-origin: center left;
  box-shadow: 0 5px 12px rgb(0, 0, 0, 0.5);
  outline: 1px solid var(--background);
  overflow: hidden;
}
.card img {
  object-fit: cover;
  height: 140px;
  width: auto;
  border-radius: 4px;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.card:hover img {
  overflow: hidden;
  filter: blur(1px);
}

.card:hover figcaption {
  font-size: 0.6rem;
  position: absolute;
  height: 80px;
  width: 160px;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: end;
  background: linear-gradient(
    to top rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: #e9f5db;
  left: 0px;
  bottom: 0px;
  padding-left: 12px;
  padding-bottom: 10px;
}
.card:hover ~ .card {
  font-weight: bold;
  cursor: pointer;
  transform: translateX(22px);
}
section#hobbies::after {
  position: absolute;
  content: "";
  inset: 0;

  background-color: #849669;
  z-index: -1;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 65% 100%);
}
form {
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-left: 40%;
  margin-right: 40%;
  padding: 10px;
  color: #254d32;
}
section#contact .input {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: 250px;
  max-width: 100%;
  max-height: 100%;
}

section#contact .button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  color: #254d32;
  font-weight: bold;
  max-width: 100%;
  max-height: 100%;
}
.button:hover {
  background-color: #c2d5aa;
  font-weight: bold;
}
section#contact::after {
  position: absolute;
  content: "";
  inset: 0;
  margin: 0;
  background-color: #dbe7c9;
  z-index: -1;
  clip-path: polygon(65% 0, 35% 100%, 100% 100%, 100% 0);
}
